{% extends "base.html" %}
{% block content %}
<article class="project-details">
  <h1>{{ project.title }}</h1>
  <a href="{{ project.link }}" target="_blank">
      <img class="proj-hero" src="{{ url_for('static', filename=project.image) }}" alt="{{ project.title }}"/>
  </a>
  <p class="muted">{{ project.short }}</p>
  <section>
    <h2>About this project</h2>
    <p>{{ project.details }}</p>
  </section>
  <p><a class="btn" href="{{ url_for('main.projects') }}">Back to projects</a></p>
</article>
{% endblock %}
